<div class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" (click)="onClose()">
  <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white" (click)="$event.stopPropagation()">
    <h3 class="mt-3 text-center text-blue-700 font-bold">{{ isEditMode ? 'Editar Programación Académica' : 'Añadir Programación Académica' }}</h3>
    <div class="mt-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="materia">Materia</label>
        <select [(ngModel)]="programacionAcademica.materiaId" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <option [ngValue]="null">Seleccione una materia</option>
          <option *ngFor="let materia of materias" [ngValue]="materia.id">{{ materia.nombre }}</option>
        </select>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="aula">Aula</label>
        <select [(ngModel)]="programacionAcademica.aulaId" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <option [ngValue]="null">Seleccione un aula</option>
          <option *ngFor="let aula of aulas" [ngValue]="aula.id">{{ aula.nombre }}</option>
        </select>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="sesionClaseIds">Sesión Clase IDs (separados por comas)</label>
        <select multiple [(ngModel)]="programacionAcademica.sesionClaseIds" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <option *ngFor="let sesionClase of sesionesClase" [ngValue]="sesionClase.id">{{ sesionClase.diaSemana }}: {{ sesionClase.horaInicio }} - {{ sesionClase.horaFin }}</option>
        </select>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="grupo">Grupo</label>
        <input [(ngModel)]="programacionAcademica.grupo" placeholder="Ingrese el grupo" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
    </div>
    <div class="flex items-center justify-between px-4 py-3 space-x-4">
      <button (click)="onSave()" class="px-4 py-2 bg-blue-500 text-white text-base font-medium rounded-md shadow-sm w-1/2">Guardar</button>
      <button (click)="onClose()" class="px-4 py-2 bg-gray-500 text-white text-base font-medium rounded-md shadow-sm w-1/2">Cerrar</button>
    </div>
    <div *ngIf="toastMessage" class="mt-4 p-2 rounded {{ toastClass }}">
      {{ toastMessage }}
    </div>
  </div>
</div>
